/** Ratio css | v1.0 | https://github.com/alfa30/Ratio-CSS **/
.ratio {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}
.ratio.style {
  background-color: #212121;
}
.ratio .ratio-item {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.ratio .ratio-item.action {
  height: 0px;
  background-position: center center;
  background-repeat: no-repeat;
}
.ratio .ratio-item.action[data-model="width"] {
  background-size: 100% auto;
}
.ratio .ratio-item.action[data-model="height"] {
  background-size: auto 100%;
}
.ratio .ratio-item.action[data-model="equal"] {
  background-size: 100% 100%;
}
.ratio.ratio-5by3,
.ratio.ratio-5by3 .ratio-item.action {
  padding-bottom: 60%;
}
.ratio.ratio-3by2,
.ratio.ratio-3by2 .ratio-item.action {
  padding-bottom: 66.66666667%;
}
.ratio.ratio-4by3,
.ratio.ratio-4by3 .ratio-item.action {
  padding-bottom: 75%;
}
.ratio.ratio-5by4,
.ratio.ratio-5by4 .ratio-item.action {
  padding-bottom: 80%;
}
.ratio.ratio-14by9,
.ratio.ratio-14by9 .ratio-item.action {
  padding-bottom: 64.28571429%;
}
.ratio.ratio-16by9,
.ratio.ratio-16by9 .ratio-item.action {
  padding-bottom: 56.25%;
}
.ratio.ratio-16by10,
.ratio.ratio-16by10 .ratio-item.action {
  padding-bottom: 62.5%;
}
.ratio.ratio-17by9,
.ratio.ratio-17by9 .ratio-item.action {
  padding-bottom: 52.94117647%;
}
.ratio.ratio-21by9,
.ratio.ratio-21by9 .ratio-item.action {
  padding-bottom: 42.85714286%;
}
.ratio.ratio-185by100,
.ratio.ratio-185by100 .ratio-item.action {
  padding-bottom: 54.05405405%;
}
.ratio.ratio-239by100,
.ratio.ratio-239by100 .ratio-item.action {
  padding-bottom: 41.84100418%;
}
